In [3]:
#Import modules
import json
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
from matplotlib import patches, text, patheffects
import cv2
import seaborn as sns
from sklearn.neighbors import NearestNeighbors
import scipy.cluster.hierarchy as hcluster
from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
from datetime import datetime

In [11]:
def group_DBSCAN(df):
    x = df[["c_x", "c_y"]].to_numpy()
    cluster = DBSCAN(eps=15, min_samples=5).fit(x)
    labels = cluster.labels_
    df["cluster_id"] = labels
    return labels
    #n_clusters_ = len(set(labels)) - (1 if -1 in labels else 0)
    #n_noise_ = list(labels).count(-1)
    
    #EVENTUALLY: run DBSCAN, or sort for running H-Cluster if DBSCAN gives a bad result
    #hcluster = []
    #comp = int(len(df)) / len(((df["labeler_id"].unique())))
    #decision = comp / int(n_clusters_)
    #if decision > 0.9:
    #    df["cluster_id"] = labels
    #    return labels
    #else:
    #    hcluster.append(df["filename"])
    #    return hcluster

In [ ]:
#Needs more work later-- will require different method to define labels
def group_Hcluster(df):
    data = df["centers"]
    thresh = 14
    hclusters = hcluster.fclusterdata(data, thresh, criterion="distance")

In [5]:
#JSON file with all image labels
labelpath = r"/Users/rowanconverse/Library/CloudStorage/OneDrive-UniversityofNewMexico/CV4Ecology/Prototyping/Data/Labels/coco/20220227_dgc.json"
with open(labelpath) as f:
  #df = pd.read_json(f)
  cocozoo = pd.read_json(f) #delete this and use above instead once ready to run with all images

#Directory of images-- remember to change this to the full directory when the script is ready
imgpath = r"/Users/rowanconverse/Library/CloudStorage/OneDrive-UniversityofNewMexico/CV4Ecology/Prototyping/Data/Imagery/SB597/scratch/test"
imglist = os.listdir(imgpath)

In [6]:
#Creating a multi-image subset to work with (delete this for full version)
df = cocozoo[cocozoo["filename"].isin(imglist)]

In [7]:
#CREATE NEW COLUMNS FOR INPUT INTO DBSCAN

#Derive bounding box centers
bboxes = df["bbox"]
c_x = []
c_y = []
x = []
y = []
w = []
h = []
centers = []
for coord in bboxes:
    center = (coord[0]+(coord[2]/2), coord[1]+(coord[3]/2))
    c_x.append(center[0])
    c_y.append(center[1])
    x.append(coord[0])
    y.append(coord[1])
    w.append(coord[2])
    h.append(coord[3])
    centers.append(center)
#Make these centers into a coordinate format
coords = []
for row in centers:
    coord = list(row)
    coords.append(coord)
#Append new columns to dataframe for manipulating later
df["c_x"] = c_x
df["c_y"] = c_y
df['x'] = x
df['y'] = y
df['w'] = w
df['h'] = h

/var/folders/21/q9_tvtjj53n6mfprd_174cz00000gn/T/ipykernel_5680/3272824413.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["c_x"] = c_x
/var/folders/21/q9_tvtjj53n6mfprd_174cz00000gn/T/ipykernel_5680/3272824413.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["c_y"] = c_y
/var/folders/21/q9_tvtjj53n6mfprd_174cz00000gn/T/ipykernel_5680/3272824413.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['x'] = x
/var/folders/21/q9_tvtjj53n6mfprd_174cz00000gn/T/ipykernel_5680/3272824413.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['y'] = y
/var/folders/21/q9_tvtjj53n6mfprd_174cz00000gn/T/ipykernel_5680/3272824413.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['w'] = w
/var/folders/21/q9_tvtjj53n6mfprd_174cz00000gn/T/ipykernel_5680/3272824413.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['h'] = h

In [8]:
#df['cluster_id'] = pd.Series()
df.head()

,annotation_id,bbox,area,category_id,category,image_id,filename,labeler_id,c_x,c_y,x,y,w,h
15013,15014,"[314.8125, 131, 91, 43]",3913.0,3,Duck,2536,BDA_18a4_20181106_2_00295_01_04.png,437,360.3125,152.5,314.8125,131.0,91.0,43.0
15014,15015,"[266.8125, 7, 55, 59]",3245.0,3,Duck,2536,BDA_18a4_20181106_2_00295_01_04.png,437,294.3125,36.5,266.8125,7.0,55.0,59.0
15015,15016,"[145.8125, 17, 62, 60]",3720.0,3,Duck,2536,BDA_18a4_20181106_2_00295_01_04.png,437,176.8125,47.0,145.8125,17.0,62.0,60.0
15016,15017,"[-18.1875, 15, 78, 38]",2964.0,3,Duck,2536,BDA_18a4_20181106_2_00295_01_04.png,437,20.8125,34.0,-18.1875,15.0,78.0,38.0
15017,15018,"[213.8125, 28, 54, 60]",3240.0,3,Duck,2536,BDA_18a4_20181106_2_00295_01_04.png,437,240.8125,58.0,213.8125,28.0,54.0,60.0

In [59]:
clusters = df.groupby("filename").apply(lambda x: group_DBSCAN(x))
clusters = clusters.reset_index()
#clusters = clusters.rename({0:"cluster_id"})

In [67]:
filesort = df.sort_values(["filename", "annotation_id"])
filegroup = df.groupby("filename")

In [68]:
filesort.head()

,annotation_id,bbox,area,category_id,category,image_id,filename,labeler_id,c_x,c_y,x,y,w,h
920783,920784,"[219.5604705810547, 62.35216522216797, 104.820...",6793.060834,2,Goose,23419,20211201_Atrisco_0465_07_01.png,436,271.970970,94.755314,219.560471,62.352165,104.820999,64.806297
920784,920785,"[274.8517150878906, 130.38270568847656, 119.36...",8279.833262,2,Goose,23419,20211201_Atrisco_0465_07_01.png,436,334.532043,165.066803,274.851715,130.382706,119.360657,69.368195
920785,920786,"[166.7265625, 197.84608459472656, 112.00064086...",8212.846555,2,Goose,23419,20211201_Atrisco_0465_07_01.png,436,222.726883,234.510368,166.726562,197.846085,112.000641,73.328568
920786,920787,"[128.72052001953125, 303.2448425292969, 103.28...",6923.001768,2,Goose,23419,20211201_Atrisco_0465_07_01.png,436,180.363495,336.758606,128.720520,303.244843,103.285950,67.027527
920787,920788,"[26.806745529174805, 382.2096862792969, 101.21...",7227.177539,2,Goose,23419,20211201_Atrisco_0465_07_01.png,436,77.415030,417.911240,26.806746,382.209686,101.216570,71.403107

In [66]:
filegroup.head()

,annotation_id,bbox,area,category_id,category,image_id,filename,labeler_id,c_x,c_y,x,y,w,h
15013,15014,"[314.8125, 131, 91, 43]",3913.000000,3,Duck,2536,BDA_18a4_20181106_2_00295_01_04.png,437,360.312500,152.500000,314.812500,131.000000,91.000000,43.000000
15014,15015,"[266.8125, 7, 55, 59]",3245.000000,3,Duck,2536,BDA_18a4_20181106_2_00295_01_04.png,437,294.312500,36.500000,266.812500,7.000000,55.000000,59.000000
15015,15016,"[145.8125, 17, 62, 60]",3720.000000,3,Duck,2536,BDA_18a4_20181106_2_00295_01_04.png,437,176.812500,47.000000,145.812500,17.000000,62.000000,60.000000
15016,15017,"[-18.1875, 15, 78, 38]",2964.000000,3,Duck,2536,BDA_18a4_20181106_2_00295_01_04.png,437,20.812500,34.000000,-18.187500,15.000000,78.000000,38.000000
15017,15018,"[213.8125, 28, 54, 60]",3240.000000,3,Duck,2536,BDA_18a4_20181106_2_00295_01_04.png,437,240.812500,58.000000,213.812500,28.000000,54.000000,60.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975658,975659,"[494.75, 371.4666748046875, 54, 46]",2484.000000,3,Duck,28933,20220111_LaJoya_1_0024_07_07.png,4596,521.750000,394.466675,494.750000,371.466675,54.000000,46.000000
975659,975660,"[446.75, 375.4666748046875, 57, 48]",2736.000000,3,Duck,28933,20220111_LaJoya_1_0024_07_07.png,4596,475.250000,399.466675,446.750000,375.466675,57.000000,48.000000
975660,975661,"[542.75, 427.4666748046875, 43, 38]",1634.000000,3,Duck,28933,20220111_LaJoya_1_0024_07_07.png,4596,564.250000,446.466675,542.750000,427.466675,43.000000,38.000000
975661,975662,"[541.75, 479.4666748046875, 58, 38]",2204.000000,3,Duck,28933,20220111_LaJoya_1_0024_07_07.png,4596,570.750000,498.466675,541.750000,479.466675,58.000000,38.000000
1003199,1003200,"[379.9253845214844, 379.795654296875, 108.3582...",8923.546913,3,Duck,24164,20220111_LaJoya_2_0196_07_05.png,1245,434.104507,420.971786,379.925385,379.795654,108.358246,82.352264

In [60]:
long = clusters.explode(0)
long.head(25)

                          filename   0
0  20211201_Atrisco_0465_07_01.png   0
0  20211201_Atrisco_0465_07_01.png   1
0  20211201_Atrisco_0465_07_01.png   2
0  20211201_Atrisco_0465_07_01.png   3
0  20211201_Atrisco_0465_07_01.png   4
0  20211201_Atrisco_0465_07_01.png   4
0  20211201_Atrisco_0465_07_01.png   3
0  20211201_Atrisco_0465_07_01.png   2
0  20211201_Atrisco_0465_07_01.png   0
0  20211201_Atrisco_0465_07_01.png   1
0  20211201_Atrisco_0465_07_01.png   0
0  20211201_Atrisco_0465_07_01.png   1
0  20211201_Atrisco_0465_07_01.png  -1
0  20211201_Atrisco_0465_07_01.png   4
0  20211201_Atrisco_0465_07_01.png   3
0  20211201_Atrisco_0465_07_01.png   2
0  20211201_Atrisco_0465_07_01.png   0
0  20211201_Atrisco_0465_07_01.png   1
0  20211201_Atrisco_0465_07_01.png   2
0  20211201_Atrisco_0465_07_01.png   3
0  20211201_Atrisco_0465_07_01.png   4
0  20211201_Atrisco_0465_07_01.png   1
0  20211201_Atrisco_0465_07_01.png   0
0  20211201_Atrisco_0465_07_01.png   2
0  20211201_Atrisco_0465_07_01.png   3

In [70]:
test = pd.merge(filesort, long, left_on="filename", right_on="filename")
test.head()

,annotation_id,bbox,area,category_id,category,image_id,filename,labeler_id,c_x,c_y,x,y,w,h,0
0,920784,"[219.5604705810547, 62.35216522216797, 104.820...",6793.060834,2,Goose,23419,20211201_Atrisco_0465_07_01.png,436,271.97097,94.755314,219.560471,62.352165,104.820999,64.806297,0
1,920784,"[219.5604705810547, 62.35216522216797, 104.820...",6793.060834,2,Goose,23419,20211201_Atrisco_0465_07_01.png,436,271.97097,94.755314,219.560471,62.352165,104.820999,64.806297,1
2,920784,"[219.5604705810547, 62.35216522216797, 104.820...",6793.060834,2,Goose,23419,20211201_Atrisco_0465_07_01.png,436,271.97097,94.755314,219.560471,62.352165,104.820999,64.806297,2
3,920784,"[219.5604705810547, 62.35216522216797, 104.820...",6793.060834,2,Goose,23419,20211201_Atrisco_0465_07_01.png,436,271.97097,94.755314,219.560471,62.352165,104.820999,64.806297,3
4,920784,"[219.5604705810547, 62.35216522216797, 104.820...",6793.060834,2,Goose,23419,20211201_Atrisco_0465_07_01.png,436,271.97097,94.755314,219.560471,62.352165,104.820999,64.806297,4

In [30]:
#Run DBSCAN (other option)
filegroups = df.groupby("filename")
filegroups.apply(lambda x: group_DBSCAN(x))

filename
20211201_Atrisco_0465_07_01.png                 [0, 1, 2, 3, 4, 4, 3, 2, 0, 1, 0, 1, -1, 4, 3,...
20220110_Bernardo_0001_01_03.png                [0, 1, 2, 3, -1, 4, 5, 6, 7, 1, 0, 2, 6, 7, 5,...
20220110_Bernardo_0230_05_08.png                [0, -1, -1, 1, 2, 3, 4, 5, 6, 4, 2, 1, 3, 0, 7...
20220110_Bernardo_0999_06_06.png                [0, 10, 1, 2, 3, -1, 4, 5, 12, 6, 7, 8, 9, 0, ...
20220111_Bernardo_0491_03_07.png                [0, 1, 2, 0, 1, 2, 1, 2, 0, 1, 2, -1, 1, 2, 0,...
20220111_LaJoya_1_0024_07_04.png                [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, ...
20220111_LaJoya_1_0024_07_07.png                [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9, 10, 7, 0...
20220111_LaJoya_2_0196_06_03.png                [0, 1, 2, 5, 3, 4, 4, 3, 5, 1, 2, 0, 2, 1, 0, ...
20220111_LaJoya_2_0196_07_05.png                                  [0, 0, 0, 0, -1, 0, 0, 0, 0, 0]
BDA_12c_20181113_1_00425_01_07.png              [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...
BDA_12c_20181113_1_00473_01_03.png              [0, 1, 2, 1, 2, 1, 0, 1, 0, 1, 1, 2, -1, 2, 0,...
BDA_12c_20181113_1_00473_02_04.png              [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, -1, 12,...
BDA_18a4_20181106_1_00244_05_02.png             [0, 1, 2, 3, 4, 5, 6, 4, 0, 5, 6, 2, 3, 1, 6, ...
BDA_18a4_20181106_1_00244_06_01.png             [0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, ...
BDA_18a4_20181106_1_00244_07_01.png             [4, 0, 1, 2, 3, 4, 5, 6, 12, 7, 11, 0, -1, 3, ...
BDA_18a4_20181106_2_00295_01_04.png             [0, 1, 2, 3, -1, 4, 9, 10, 5, 6, 7, 8, -1, 4, ...
BDA_18a4_20181106_2_00557_03_06.png             [0, 1, 2, 3, 4, 5, 0, 2, 3, 4, 5, 1, 3, 2, 0, ...
BDA_18a4_20181106_2_00557_03_08.png                 [0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0]
BDA_unknown_20181106_1_00041_02_08.png          [0, 1, 2, 3, -1, 1, 3, 0, 1, 2, 3, 0, 1, 2, 3,...
BDA_unknown_20181106_1_00041_04_08.png          [0, 1, 2, 3, 4, 5, 6, 6, 5, 7, 0, 1, 2, 4, 3, ...
BDA_unknown_20181106_1_00174_05_03.png          [5, 3, -1, -1, 0, -1, -1, 1, 0, 2, 3, 4, -1, 0...
BDA_unknown_20181106_1_00174_05_07.png          [0, -1, 1, 2, 3, 5, 3, 2, 1, 0, 4, 5, 1, 4, 2,...
FWS_MaxwellLake13_20171215_1_00613_02_03.png    [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
FWS_MaxwellLake13_20171215_1_00613_03_03.png    [0, 1, 2, 3, 1, 0, 2, 3, 0, 1, 2, 3, 3, 2, 1, ...
FWS_MaxwellLake13_20171215_3_01941_03_02.png        [0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1]
FWS_MaxwellLake13_20171215_3_01942_06_08.png    [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
dtype: object

In [ ]:
#REFINEMENT STEP: DUCK, GOOSE, CRANE

#Dictionary of category values
categories = {1: "Crane", 2: 'Goose', 3:'Duck'}

#Derive median bounding box
refined = df.groupby("cluster_id")['x','y','w','h'].agg(pd.Series.median)
refined.reset_index("cluster_id")
#Make median bounding box into its own column in list form
refined['bbox']= refined.values.tolist()
#Derive plurality vote of class ID
mode_class = df.groupby("cluster_id")["filename",'category_id'].agg(pd.Series.mode)
#Join the refined results together
refined_id = pd.merge(refined, mode_class, left_on="cluster_id", right_on="cluster_id")
#Add back a column with category name to the refined results (optional)
refined_id['category'] = refined_id["category_id"].map(categories)
refined_id = refined_id.drop(columns=['x','y','w','h'])

In [ ]:
#REFINEMENT STEP: DGC, SEAGULL

#Dictionary of category values
categories = {1: "Goose", 2: 'Seagull', 3:'Duck', 4:'Crane'}

#Derive median bounding box 
refined = filegroups.groupby("cluster_id")['x','y','w','h'].agg(pd.Series.median)
refined.reset_index("cluster_id")
#Make median bounding box into its own column in list form
refined['bbox']= refined.values.tolist()
#Derive plurality vote of class ID
mode_class = filegroups.groupby("cluster_id")["filename",'category_id'].agg(pd.Series.mode)
#Join the refined results together
refined_id = pd.merge(refined, mode_class, left_on="cluster_id", right_on="cluster_id")
#Add back a column with category name to the refined results (optional)
refined_id['category'] = refined_id["category_id"].map(categories)
refined_id = refined_id.drop(columns=['x','y','w','h'])

In [ ]:
#EXPORT OF REFINED RESULTS FOR USE AS TRAIN/VAL/TEST (not split yet; determine split after getting new data stats)

#add individual annotation ID column
export = refined_id.reset_index
#drop "cluster ID" column
export.drop(columns="cluster_id")
#save to csv
exportconsensus = datetime.now().strftime('%Y%m%d_consensuslabels.csv')
export.to_csv(exportconsensus)

In [ ]:
#EXPORT OF ANALYSIS DATAFRAME
df_analysis = pd.merge(df, refined_id, left_on="cluster_id", right_on="cluster_id")
df_analysis = df_analysis.drop(columns=['centers','area','x','y','w','h', 'filename_y'])
df_analysis = df_analysis.rename(columns={'filename_x':'filename', 'bbox_x': 'bbox_orig', 'category_id_x': 'cat_id_orig', "category_x": "cat_orig", 'bbox_y': 'bbox_refined', 'category_id_y': 'cat_id_refined', "category_y": "cat_refined"})
exportanalysis = datetime.now().strftime('%Y%m%d_analysislabels.csv')
df_analysis.to_csv(exportanalysis)